* {
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* estilos para PC */

.navbar {
    padding: 15px 20px;
    background-color: rgb(89, 183, 247);
    color: white;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    width: 25px;
  }


  .nav-links{
    position: fixed;
    top: 55px;
    right: 0;
   
    padding: 20px 0px;

    background: rgba(17, 17, 17, 0.596);
    list-style: none;
    font-weight: bold;
    

    display: none;
    
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 30px;
    margin-top: 0px;
    gap: 20px;
    text-align: end;
    width: 150px;
  }

  .nav-links a {
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(160, 160, 252);
    
  }

  /* Estilos para moviles*/

@media (max-width: 768px) {

  .navbar {
    padding: 15px 20px;
    background-color: rgb(208, 208, 253);
    color: white;
    font-weight: bold;

    display: flex;
    justify-content: space-between;
  }

  .menu-icon {
    display: block;
  }

 

  .nav-links{
    position: fixed;
    top: 51px;
    flex-direction: row;
    
    align-items: center;
    

    background: rgba(17, 17, 17, 0.95);
    list-style: none;
    font-weight: bold;
    display: none;
    
  }

  .nav-links.active {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    gap: 10px;
    
  }

  .nav-links a {
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(160, 160, 252);
    
    
  }
  li{
   list-style: none;
   text-align: center;
  }
}

  
